<app-modal-skeleton>
  <header>
    <h3 class="header">Resumo da Compra</h3>
  </header>
  <content>
    <div class="col l7 s12">
      <div>
        <span class="value-description">Valor Total dos Presentes</span>
        <span class="value">R$ {{ value }}</span>
      </div>
      <div>
        <span class="total-description">Total</span>
        <span class="value-total">R$ {{ total }}</span>
      </div>
    </div>
    <div class="col l5 s12">
      <span class="msg-carinho">Deixe sua mensagem de carinho</span>
      <br><br>
      <form class="row">
        <div class="input-field col s12">
          <input placeholder="Insira seu nome" id="name" name="name" type="text" class="validate"
            [(ngModel)]="gift.name">
          <label for="name">Nome</label>
        </div>
        <div class="input-field col s12">
          <textarea placeholder="Deixe uma mensagem para os noivos" id="message" name="message" type="text"
            class="materialize-textarea" [(ngModel)]="gift.message"></textarea>
          <label for="message">Personalize a sua mensagem</label>
        </div>
      </form>
    </div>
  </content>
  <footer>
    <button class="waves-effect waves-green btn-flat btn-modal btn" (click)="close()">Cancelar</button>
    <button class="waves-effect waves-green btn-flat btn-modal btn" (click)="pay()">Presentear</button>
  </footer>
</app-modal-skeleton>
