<div data-testid="Hero" class="hero">
    <div class="foto">
        <img src="assets/img/CaroleRodrigo.jpg" class="fotocarolerodrigo">
    </div>
    <div class="nomes">
        <h1 *ngIf="innerWidth > 430" class="nomeCarolERodrigo">
            <span>Carol</span>
            <span class="juncao">&</span>
            <span>Rodrigo</span>
        </h1>
        <h1 *ngIf="innerWidth <= 430" class="nomeCarolERodrigoMobile">
          <span>C</span>
          <span class="juncaoMobile">&</span>
          <span>R</span>
        </h1>
        <p class="hero-date">06/04/2024</p>
     </div>
</div>




