.hero {
  display: flex;
  width: 100%;
}

.foto {
  width: 50%;
}

.fotocarolerodrigo {
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
  display: block;
  vertical-align: middle;
  border: 0;
  inset: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.nomes {
    width: 50%;
    background: url(/assets/img/fundo-da-aguarela-estilo-detalhada-do-grunge.jpg) 0% 0% / cover no-repeat;
    display: flex;
}

.nomeCarolERodrigo {
  display: grid;
  gap: 16px;
  padding: 48px 0px 0px;
  font-family: var(--name-font-family);
  color: var(--coupleName);
  font-size: 80px;
  font-weight: bold;
  line-height: 104px;
  text-align: center;
  margin-bottom: 48px;
  align-self: center;
  margin: 0 auto;
}

.juncao {
  color: var(--main);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.juncao::before {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background: var(--main);
  color: var(--main);
  margin-right: 32px;
}

.juncao::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background: var(--main);
  color: var(--main);
  margin-left: 32px;
}

h1{
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.nomeCarolERodrigoMobile {
  display: grid;
  gap: 16px;
  text-align: center;
  padding: 24px 0px 0px;
  font-family: var(--name-font-family);
  color: var(--coupleName);
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;
  align-self: center;
  margin: 0 auto;
}

.juncaoMobile {
  color: var(--main);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.juncaoMobile::before {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  background: var(--main);
  margin-right: 8px;
  color: var(--main);
}

.juncaoMobile::after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  background: var(--main);
  margin-left: 8px;
  color: var(--main);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.hero-date {
  font-family: var(--base-font-family);
  color: var(--main);
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: center;
}

.page-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(231, 214, 237);
}

.title {
  width: 100%;
  padding: 0px 15px;
}

.bemvindo {
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--title-text-color);
  font-family: var(--title-font-family);
  text-transform: none;
  line-height: 46.7px;
}

.subtitle {
  width: 100%;
  min-height: 70px;
  height: 100%;
  padding: 20px 15px;
}

.subtitleh2 {
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 28px;
  color:#3a013c;
  text-transform: none;
  max-width: 1110px;
  margin: 0px auto;
}

.derPWs {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.dFPibt {
  display: flex;
  fill:#07481d;
}

@media (max-width: 768px) {
  .hero {
    margin-top: 80px;
  }

  .bemvindo {
    font-size: 24px;
  }
}

