.countdown {
    position: relative;
    padding: 20px 0px;
    background-color: rgb(231 214 237);
    z-index: 1;
}

.countdown-title {
    font-family: var(--base-font-family);
    font-weight: 400;
    font-stretch: normal;
    line-height: 2;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #3a013c;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 2px;
}

.countdown-saveTheDate {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  gap: 10px;
  margin: 12px 0;
  text-align: center;
}

.countdown-saveTheDate-dateInfo{
  border-radius: 10px;
  padding: 12px;
  width: 80px;
  min-height: 100px;
  background-color: #604E5D;
}

.countdown-Days{
  font-size: 24px;
  text-transform: uppercase;
  color: #E8DCE6;
}

.days {
  font-family: var(--base-font-family);
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color:  #3a013c;
  text-transform: capitalize;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .countdown-title{
    padding: 0px 40px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-stretch: normal;
  }

  .countdown-saveTheDate-dateInfo{
    width: 50px;
    height: 50px;
    min-height: 50px;
  }

  .countdown-Days{
    height: 53px;
    margin-top: -2px;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: normal;
    margin-top: auto;
    text-align: center;
  }

}
