/* You can add global styles to this file, and also import other style files */

// Color
@import "materialize-css/sass/components/color-variables";
@import "materialize-css/sass/components/color-classes";

// Variables;
@import "materialize-css/sass/components/variables";

// Reset
@import "materialize-css/sass/components/normalize";

// components
@import "materialize-css/sass/components/global";
@import "materialize-css/sass/components/grid";
@import "materialize-css/sass/components/transitions";
@import "materialize-css/sass/components/buttons";
@import "materialize-css/sass/components/dropdown";

@import 'materialize-css/sass/components/forms/forms';

html{
    height: 100%;
    font-size: 100%;
    min-height: 100%;
    margin: 0 0;
    padding: 0px;
    overflow-x: hidden;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
}

html, root:root{
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}


body {
    background-color: rgb(231, 214, 237);
    margin: 0 0;
}

#root {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-weight: 300;
}

.root{
    box-sizing: border-box;
}


div, main, html {
    display: block;
}

body {
    -webkit-font-smoothing: antialiased;
}

:root {
    --coupleName:#3a013c9e;
    --menu: #F0BDA0;
    --content: #110112;
    --title-text-color: #3a013cd6;
    --main: #3a013c9e;
    --body: #020201;
    --formBorder: rgba(255,255,255,0.08);
    --lightBackground: #272625;
    --darkBackground: #1C1A19;
    --transparentBackground: rgba(0,0,0,0);
    --alert: #EF5350;
    --black: #000000;
    --white: #ffffff;
    --error: #ef5350;
    --base-font-family: 'Montserrat';
    --menu-font-family: 'Montserrat';
    --title-font-family: 'Alice';
    --name-font-family: 'RosansSans-Regular';
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #ba6fbf;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}


