<div class="menu-wrapper">
  <div class="w-dyn-list">
    <div role="list" class="w-dyn-items">
      <div role="listitem" class="w-dyn-item">
        <a href="/alert/how-were-responding-to-covid-19" class="banner w-inline-block">
          <div class="container">
            <div class="banner-content-wrapper">
              <div class="pill primary alert-bar">Announcement</div>
              <div>How we're responding to COVID-19</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div data-collapse="medium" data-animation="over-right" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar w-nav">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" aria-current="page" class="brand w-nav-brand w--current">
          <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57adad44d1f072965b6_logo.svg"
            alt="Acme Outdoors Logo">
        </a>
        <div class="cart-nav-wrapper">
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a [routerLink]="['/']" aria-current="page" class="nav-link w-nav-link w--current">Home</a>
            <a [routerLink]="['/wedding']" class="nav-link w-nav-link">Cerimonia</a>
            <a [routerLink]="['/reception']" class="nav-link w-nav-link">Recepção</a>
            <a [routerLink]="['/confirmation']" class="nav-link w-nav-link">Confirmar Presença</a>
            <a [routerLink]="['/gifts']" class="nav-link w-nav-link">Lista de Presentes</a>
            <a *ngIf="!IsLogged" [routerLink]="['/login']" class="nav-link w-nav-link">Login</a>
            <a *ngIf="IsAdmin" [routerLink]="['/admin']" class="nav-link w-nav-link">Admin</a>
          </nav>

          <div *ngIf="IsLogged">
            <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar"
              data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart-menu">
              <a href="#" class="w-commerce-commercecartopenlink cart w-inline-block" role="button"
                aria-label="Open cart">
                <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e86146bb854797d12a30a13_cart.svg"
                  alt="" class="cart-icon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
